@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        width: .4rem;
        height: .4rem;
    }

    ::-webkit-scrollbar-track {
        background-color: theme(colors.slate.300);
    }

    ::-webkit-scrollbar-thumb {
        background-color: theme(colors.slate.500);
    }

    @supports (scrollbar-color: red blue) {
        * {
            scrollbar-color: theme(colors.slate.500) theme(colors.slate.300);
            scrollbar-width: thin;
        }
    }

}

@layer utilities {
    .animate-bounce-not-infinite {
        animation: bounce 1s 4;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0%);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
        50% {
            transform: translateY(-30%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
    }
}
